$fonts:'Montserrat', sans-serif, #000000;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$white: #ffffff;
$black: #000;

$red100: rgba(191,86,78,0.69);

$section-padding: 100px;

$primary-margin: 30px;

$mobile-screen-size: 572px;